<div class="browse-topics">
    <div class="browse-topic">
    <span class="title">
        About us
    </span>
        Learn more about our centre, maecenas tincidunt lobortis.
    </div>

    <div class="browse-topic">
    <span class="title">
        Students
    </span>
        Meet our students, maecenas tincidunt lobortis.
    </div>

    <div class="browse-topic">
    <span class="title">
        Staff
    </span>
        See profiles of our members, maecenas tincidunt lobortis.
    </div>

    <div class="browse-topic">
    <span class="title">
        Browse Topic 4
    </span>
        Learn more about our centre, maecenas tincidunt lobortis.
    </div>

    <div class="browse-topic">
    <span class="title">
        Browse Topic 5
    </span>
        Meet our students, maecenas tincidunt lobortis.
    </div>

    <div class="browse-topic">
    <span class="title">
        Browse Topic 6
    </span>
        See profiles of our members, maecenas tincidunt lobortis.
    </div>
</div>
