/**
 * Site header
 */
.site-header {
  background-color: $light-blue-color2;
  //min-height: $spacing-unit * 1.865;
  color: $brand-color;
  //height: 150px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-family: $title-font-family;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  letter-spacing: 2px;
  &,
  &:visited {
    color: white;
  }
}

.logo-svg {
  height:70px;
  width: 325px;
  //width: 450px;
  max-width: 85%;
  display: inline-block;
  margin: 25px 0 25px 10px;
  vertical-align: text-top;

  @include media-query($on-palm){
    margin-left: 0px;
  }
}

.site-nav {
  float: right;
  //line-height: $base-line-height * $base-font-size * 2.25;
  text-transform: uppercase;
  margin: 25px 0;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $brand-color;
    line-height: $base-line-height;
    display: inline-block;
    border-right: 2px solid $brand-color;
    padding-right: 5px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .page-link:hover {
    border-right: 2px solid $second-tone-color;
  }

  @include media-query($navi-break) {
    position: absolute;
    top: 15px;
    right: $spacing-unit / 2;
    background-color: $brand-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: white;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      color: white;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }


  }
}



/**
 * Site footer
 */
.site-footer {
  //border-top: 1px solid $grey-color-light;
  padding: $spacing-unit/2 $spacing-unit;
  background-color: $light-blue-color2;
  color: $brand-color;
  @include relative-font-size(0.8);
  a {
    color: $light-blue-color;
  }
  a:hover{
    text-decoration: none;
  }
  ul.contact-list {
    border-left: 3px solid $brand-color;

    > li {
      margin-top: $spacing-unit/3;
      margin-left: $spacing-unit/3;
      display: block;
    }
  }
  display: grid;
  //grid-template-columns: 4fr minmax(230px, 1fr);
  grid-template-columns: 1fr; // temp for removing email link
  grid-column-gap: $spacing-unit * 2;

  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }

  #arc-footer {
    height: 100px;
    max-width: 100%;
  }
}

.footer-heading {
  @include relative-font-size(0.8);
  //margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.8);
  //color: white;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  //margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(2);
  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
    @include media-query($on-palm) {
      @include relative-font-size(1.2);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
    @include media-query($on-palm) {
      @include relative-font-size(1.2);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    @include media-query($on-palm) {
      @include relative-font-size(1.2);
    }
  }
}

/**
 * Home Elements
 */

.home-description {
  margin: $spacing-unit 0;
  @include relative-font-size(1);
  font-family: "Open Sans";
  font-weight: 300;
  @include media-query($on-palm) {
    @include relative-font-size(1);
  }
  text-align: justify;
  //color: $brand-color;
}

.browse-topics {
  margin: $spacing-unit 0;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

  .title{
    display: block;
    @include relative-font-size(2);
    font-weight: 400;
    @include media-query($on-palm) {
      @include relative-font-size(1.2);
    }
  }
}

.browse-topic {
  background-color: #e7eff7;
  padding: $spacing-unit;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.browse-topic:hover {
  //background-color: #dfebd3;
  //background-color: darken($brand-color, 2%);
  //color: white;
}

.lists {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  padding: $spacing-unit;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  background-color: darken($brand-color, 15%);
  color: white;

  .list {
    //background-color: #dfebd3;
    padding: 0 $spacing-unit;
    color: white;

    a {
      color: white;
    }

    .post-list-heading{
      border-bottom: 1px solid $second-tone-color;
      font-weight: 400;
    }

    .post-meta{
      color: $second-tone-color;
    }

  }
}

.partners {
  text-align: center;
  padding: 30px 0;

  .single {
    height: 100px;
    @include media-query($on-palm) {
      max-height:100px;
    }
  }
}

.partners-grid {
  margin: $spacing-unit 0;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-items: center;
  justify-items: center;
  img {
    //height: 100px;
    max-height: 150px;
    @include media-query($on-palm) {
      //max-height:120px;
    }
  }
  @include media-query($on-palm) {
    grid-row-gap: 10px;
  }
}

.lead {
  grid-template-columns: 1fr 1fr 1fr;
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
}

.universities {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
}

.others {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
  @include media-query($on-palm) {
    //grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    //grid-template-rows: 80px;
    grid-template-columns: 1fr;
  }
}

/**
 * Our People Elements
 */
div.people{
  h1{
    text-align: center;
    margin: 20px;
  }
}

div.person-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media-query($on-smaller-palm) {
    grid-template-columns: 1fr;
  }

  div.person{
    text-align: center;
    padding: 10px;
    img {
      border-radius: 125px;
    }

    div.details {
      color:  black;
      margin: 10px;
      h3 {
        color: $brand-color;
        margin-bottom: 0;
      }
    }
  }

}

div.person-wrapper{
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  //
  //h1 {
  //  text-align: center;
  //  grid-column: 2/3;
  //}

  @include media-query($navi-break) {
    grid-template-columns: 1fr;

  }
}
div.person-details {
  grid-column: 2/3;
  //margin: 20px 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  @include media-query($navi-break) {
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 30px;

  }

  @include media-query($on-palm) {
    grid-column: 1/2;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }

  #link-back{
    grid-column: 1/3;
    @include media-query($on-palm) {
      grid-column: 1/2;
    }
  }

  grid-row-gap: 50px;
  grid-column-gap: 30px;
  color: black;
  //margin: 20px;
  padding: 0 20px;

  div.details{
    h1 {
      color: $brand-color;
      margin-bottom: 10px;
      line-height: 1;
    }
  }

  img {
    border-radius: 125px;
    margin: 0 auto;
  }

  div.description {
    //padding-top: 20px;
    //border-top: 1px solid darken($brand-color, 15%);
    grid-column: 1/3;
    text-align: justify;
    @include media-query($on-palm) {
      grid-column: 1/2;
    }
  }
}



/**
 * Nested Pages Navigation
 */

ul.nested-navi {
  //background-color: darken($brand-color, 25%);
  //padding: 0 $spacing-unit;
  color: white;
  list-style-type: none;
  border: 1px solid $brand-color;
  padding-left: 0;
  margin: 0;


  a {
    color: $brand-color;
  }

  li {
    color: $brand-color;
    border-bottom: 1px solid $brand-color;
    padding: 0.5rem;
  }

  li.inner {
    padding-left: 2rem;
  }

  li.inner:first-child {
    //border: none;
  }

  li:hover {
    background-color: lighten($brand-color, 50%);
  }

  li.active {
    background-color: $brand-color;
    color: white;
    a{
      color: white;
    }
  }
}

.with-side-navi {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: $spacing-unit;
}

.toc{
  grid-row: 1 / 3;
}

@include media-query($on-palm) {
  .with-side-navi {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing-unit;
  }
  .with-side-navi {
    .post-header {
      margin-bottom: 0;
    }
  }

  .toc {
    grid-row-start: 2;
  }
}

.no-side-navi {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  @include media-query($navi-break) {
    grid-template-columns: 1fr;

  }
  header {
    grid-column: 2/3;
  }
  .post-content {
    grid-column: 2/3;
  }
}

/**
 * News Landing Page
 */
.news{
  li {
    border-top: 1px solid $brand-color;
    padding: 1em 0;
    //line-height: 1;

    > h3{
      line-height: 1.5;
    }
  }
  a:hover {
    li {
      //background-color: #f4f4ea;
      color: $light-blue-color;

    }

    h3 {
      //color: darken($brand-color, 25%);
      color: $light-blue-color;
    }
  }
  .excerpt {
    color: black;
    //line-height: 1;
    @include relative-font-size(1);
  }
}

/**
 * Posts Layout
 */

div.photo-with-caption{
  background-color: $light-blue-color2;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}