<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="" aria-label="Content">
    <div class="home">
      {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      <img src="/arc-medtechai/assets/home-splash3.jpg" class="home-splash" alt="Nice splash">

      <div class="wrapper">

        <div class="home-description">
          {{ content }}
        </div>

      {%- include browsing-topics.html -%}

      {%- if site.posts.size > 0 -%}

      <div class="lists">
        <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- endif -%}

      </div>

    </div>
  </div>
</main>

{%- include footer.html -%}

</body>

</html>
