<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">
  <div class="wrapper news">
    {%- if site.posts.size > 0 -%}

    <div class="list">
      <h2 class="post-list-heading">{{ page.list_title | default: "News" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>{{ post.title | escape }}</h3>
          {%- if post.excerpt -%}
            <span class="excerpt">
            {{ post.excerpt | truncatewords: 50 }}
            </span>
          {%- endif -%}
        </li>
        </a>
        {%- endfor -%}
      </ul>
    </div>

    {%- endif -%}
  </div>
</main>

{%- include footer.html -%}

</body>

</html>
