---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <ul>

    {% assign url_parts = page.url | split: '/' %}
    {{ url_parts }}
    first_dir {{ url_parts[1] }}
    {% assign url_toc = url_parts[1] | append: '' %}
    no-toc {{ site.data[url_parts[1]] }}
    toc {{ site.data[url_toc].toc }}

    {% if site.data[url_toc].toc[0] %}
    <h3>{{page.url}}</h3>
    <ul>
      {% for entry in site.data[url_toc].toc %}
      <li class="{% if entry.url == page.url %}active{% endif %}">
        <a href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
        {% if entry.subpages[0] %}
        <ul>
          {% for subentry in entry.subpages %}
          <li class="{% if subentry.url == page.url %}active{% endif %}">
            <a href="{{ subentry.url | relative_url }}">{{ subentry.page }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}


  <div class="post-content">
    {{ content }}
  </div>

</article>
